/* Set background color of the webpage */
body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    background: linear-gradient(to Right, #80DEEA, #E0F7FA);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* Style for the COINTRACKER text */
.Contracker {
    display: flex; /* Use flexbox for alignment */
    justify-content: center; /* Centrally aligns the children */
    list-style: none; /* Remove default list styling */
    padding: 0; /* Remove default padding */
}

.Contracker li {
    display: inline-block; /* Display as inline-block */
    font-size: 2rem; /* Set font size */
    font-weight: bold; /* Make the text bold */
    color: white; /* Set text color to white */
    margin: 0 5px; /* Set horizontal margin */
    transition: transform 0.3s ease; /* Smooth transition for transform property */
}

/* Adding hover effect to each letter */
.Contracker li:hover {
    transform: rotate(360deg); /* Rotate the letter 360 degrees on hover */
}

/* submarine animation */
*, *:before, *:after {
    box-sizing: border-box; /* Set box-sizing to border-box for all elements */
}

.sea {
    margin: 40px auto 0 auto; /* Set margin with auto for horizontal center alignment */
    overflow: hidden; /* Hide overflow */
}

.bubble {
    position: absolute; /* Absolute positioning */
    width: 7px; /* Set bubble width */
    height: 7px; /* Set bubble height */
    border-radius: 50%; /* Make the bubble circular */
    background-color: #5fa0b5; /* Lighter color for bubble */
    opacity: 0.9; /* Set opacity */
    animation: bubble1-h-movement 1s ease-in infinite, /* Horizontal movement animation */ bubble1-v-movement 300ms ease-in-out infinite alternate, /* Vertical movement animation */ bubble-scale-movement 300ms ease-in-out infinite alternate; /* Scaling animation */
}

.bubble:after {
    position: absolute; /* Absolute positioning */
    content: ""; /* No content */
    width: 7px; /* Set width */
    height: 7px; /* Set height */
    border-radius: 50%; /* Make it circular */
    background-color: #5fa0b5; /* Lighter color for bubble */
    opacity: 0.9; /* Set opacity */
    top: -20; /* Positioning */
    left: 100px; /* Positioning */
    width: 9px; /* Set width */
    height: 9px; /* Set height */
}

.circle-wrapper {
    position: relative; /* Relative positioning */
    background: linear-gradient(#285666, #244a5a); /* Darker gradient background */
    width: 300px; /* Set width */
    height: 300px; /* Set height */
    margin: 10px auto 0 auto; /* Center alignment with margin */
    overflow: hidden; /* Hide overflow */
    z-index: 0; /* Set z-index */
    border-radius: 50%; /* Make it circular */
    padding: 0 50px 0 50px; /* Padding */
    border: 6px solid #5b8ea2; /* Lighter border color */
}

.submarine-wrapper {
    height: 300px; /* Set height */
    width: 300px; /* Set width */
    padding: 30px 50px 30px 150px; /* Padding */
    margin: 0 auto; /* Center alignment */
    animation: diving 3s ease-in-out infinite, /* Diving animation */ diving-rotate 3s ease-in-out infinite; /* Rotate animation */
}

.submarine-body {
    width: 150px; /* Set width */
    height: 80px; /* Set height */
    position: absolute; /* Absolute positioning */
    margin-top: 50px; /* Top margin */
    left: 25px; /* Left positioning */
    background-color: #D93A54; /* Set background color */
    border-radius: 40px; /* Rounded corners */
    background: linear-gradient(#D93A54, #c2314a); /* Darker gradient background */
}

.light {
    position: absolute; /* Absolute positioning */
    width: 0; /* Set width */
    height: 0; /* Set height */
    border-style: solid; /* Solid border style */
    border-width: 0 40px 150px 40px; /* Border width */
    border-color: transparent transparent #4093A5 transparent; /* Border color */
    transform: rotate(-50deg); /* Rotate the element */
    top: 40px; /* Top positioning */
    left: 99%; /* Left positioning */
}

.light:after {
    content: ""; /* No content */
    position: absolute; /* Absolute positioning */
    width: 20px; /* Set width */
    height: 13px; /* Set height */
    border-radius: 5px; /* Rounded corners */
    background-color: #b32e45; /* Darkened color */
    margin-left: -10px; /* Left margin */
}

.window {
    width: 37px; /* Set width */
    height: 37px; /* Set height */
    position: absolute; /* Absolute positioning */
    margin-top: 23px; /* Top margin */
    right: 18px; /* Right positioning */
    background: linear-gradient(#244a5a, #203f4f); /* Darker gradient background */
    border-radius: 50%; /* Make it circular */
    border: 3px solid #D93A54; /* Border styling */
}

.window:after {
    content: ""; /* No content */
    position: absolute; /* Absolute positioning */
    margin-top: 3px; /* Top margin */
    margin-left: 3px; /* Left margin */
    width: 25px; /* Set width */
    height: 25px; /* Set height */
    border-radius: 50%; /* Make it circular */
    background-color: transparent; /* Transparent color */
    opacity: 0.8; /* Set opacity */
    border-top: 3px solid white; /* Top border */
    transform: rotate(-45deg); /* Rotate the element */
}

.engine {
    width: 30px; /* Set width */
    height: 30px; /* Set height */
    position: absolute; /* Absolute positioning */
    margin-top: 32px; /* Top margin */
    left: 53px; /* Left positioning */
    background-color: #c2314a; /* Darker color */
    border-radius: 50%; /* Make it circular */
    border: 5px solid #D93A54; /* Border styling */
}

.engine:after, .engine:before {
    position: absolute; /* Absolute positioning */
    content: ""; /* No content */
    border-radius: 2px; /* Rounded corners */
    background-color: white; /* White color */
    animation: spin 900ms linear infinite; /* Spin animation */
    opacity: 0.8; /* Set opacity */
}

.engine:after {
    top: 8px; /* Top positioning */
    width: 20px; /* Set width */
    height: 4px; /* Set height */
}

.engine:before {
    left: 8px; /* Left positioning */
    width: 4px; /* Set width */
    height: 20px; /* Set height */
}

.helix {
    width: 30px; /* Set width */
    height: 70px; /* Set height */
    position: absolute; /* Absolute positioning */
    margin-top: 55px; /* Top margin */
    left: 0; /* Left positioning */
    background-color: #D93A54; /* Set background color */
    border-radius: 7px; /* Rounded corners */
    background: linear-gradient(#D93A54, #c2314a); /* Darker gradient background */
}

.helix:after {
    content: ""; /* No content */
    position: absolute; /* Absolute positioning */
    margin-top: 5px; /* Top margin */
    margin-left: 7px; /* Left margin */
    width: 17px; /* Set width */
    height: 60px; /* Set height */
    border-radius: 3px; /* Rounded corners */
    background-color: transparent; /* Transparent background color */
    opacity: 0.8; /* Set opacity */
    background: linear-gradient(to bottom, #D93A54, #D93A54 50%, #ed677c 50%, #ed677c); /* Gradient background */
    background-size: 100% 20px; /* Background size */
    animation: helix-movement 110ms linear infinite; /* Helix movement animation */
}

.hat {
    width: 65px; /* Set width */
    height: 25px; /* Set height */
    position: absolute; /* Absolute positioning */
    margin-top: 26px; /* Top margin */
    left: 70px; /* Left positioning */
    background-color: #D93A54; /* Set background color */
    border-radius: 10px 10px 0 0; /* Rounded corners */
    background: linear-gradient(#D93A54, #c2314a); /* Darker gradient background */
}

.periscope {
    position: absolute; /* Absolute positioning */
    width: 7px; /* Set width */
    height: 20px; /* Set height */
    background-color: #D93A54; /* Set background color */
    margin-top: -27px; /* Top margin */
    margin-left: 32px; /* Left margin */
    border-radius: 5px 5px 0 0; /* Rounded corners */
}

.periscope:after, .periscope:before {
    content: ""; /* No content */
    position: absolute; /* Absolute positioning */
    width: 15px; /* Set width */
    height: 7px; /* Set height */
    border-radius: 5px; /* Rounded corners */
    background-color: #D93A54; /* Set background color */
}

.leds-wrapper {
    width: 53px; /* Set width */
    height: 13px; /* Set height */
    position: relative; /* Relative positioning */
    top: 7px; /* Top positioning */
    left: 7px; /* Left positioning */
    background-color: #D93A54; /* Set background color */
    border-radius: 10px; /* Rounded corners */
    background: linear-gradient(#c2314a, #aa293d); /* Darker gradient background */
}

.leds {
    position: absolute; /* Absolute positioning */
    margin-top: 4px; /* Top margin */
    margin-left: 7px; /* Left margin */
    width: 5px; /* Set width */
    height: 5px; /* Set height */
    border-radius: 50%; /* Make it circular */
    background-color: white; /* Set background color */
    animation: leds-off 500ms linear infinite; /* LEDs off animation */
}

.leds:after, .leds:before {
    content: ""; /* No content */
    position: absolute; /* Absolute positioning */
    width: 5px; /* Set width */
    height: 5px; /* Set height */
    border-radius: 50%; /* Make it circular */
    background-color: white; /* Set background color */
}

.leds:after {
    margin-top: 0px; /* Top margin */
    margin-left: 17px; /* Left margin */
}

.leds:before {
    margin-top: 0px; /* Top margin */
    margin-left: 34px; /* Left margin */
}

/* Keyframe Animations */
@keyframes spin {
    100% {
        transform: rotate(360deg); /* Rotate the element 360 degrees */
    }
}

@keyframes leds-off {
    100% {
        opacity: 0.3; /* Set opacity */
    }
}

@keyframes helix-movement {
    100% {
        background: linear-gradient(to bottom, #ed677c 50%, #ed677c, #D93A54, #D93A54 50%); /* Gradient background */
        background-size: 100% 20px; /* Background size */
    }
}

@keyframes diving {
    0% {
        margin-top: 5px; /* Top margin */
    }
    50% {
        margin-top: 15px; /* Top margin */
    }
    100% {
        margin-top: 5px; /* Top margin */
    }
}

@keyframes diving-rotate {
    0% {
        transform: rotate(0deg); /* No rotation */
    }
    50% {
        transform: rotate(3deg); /* Rotate 3 degrees */
    }
    75% {
        transform: rotate(-2deg); /* Rotate -2 degrees */
    }
    100% {
        transform: rotate(0deg); /* No rotation */
    }
}

@keyframes bubble1-h-movement {
    0% {
        margin-left: 80%; /* Left margin */
    }
    100% {
        margin-left: -100%; /* Left margin */
    }
}

@keyframes bubble2-h-movement {
    0% {
        margin-left: 65%; /* Left margin */
    }
    100% {
        margin-left: -5%; /* Left margin */
    }
}

@keyframes bubble1-v-movement {
    0% {
        margin-top: 115px; /* Top margin */
    }
    100% {
        margin-top: 160px; /* Top margin */
    }
}

@keyframes bubble2-v-movement {
    0% {
        margin-top: 115px; /* Top margin */
    }
    100% {
        margin-top: 90px; /* Top margin */
    }
}

@keyframes bubble-scale-movement {
    0% {
        transform: scale(1.4); /* Scale up */
    }
    100% {
        transform: scale(0.9); /* Scale down */
    }
}

@keyframes light-movement {
    0% {
        transform: rotate(-40deg); /* Start rotation */
    }
    50% {
        transform: rotate(-70deg); /* Mid rotation */
    }
    100% {
        transform: rotate(-40deg); /* End rotation */
    }
}